In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
cc_df = pd.read_csv('Credit_Data_Original.csv')
cc_df.head(1000)

,OBS#,CHK_ACCT,DURATION,HISTORY,NEW_CAR,USED_CAR,FURNITURE,RADIO/TV,EDUCATION,RETRAINING,...,AGE,OTHER_INSTALL,RENT,OWN_RES,NUM_CREDITS,JOB,NUM_DEPENDENTS,TELEPHONE,FOREIGN,DEFAULT
0,1,0,6,4,0,0,0,1,0,0,...,67,0,0,1,2,2,1,1,0,0
1,2,1,48,2,0,0,0,1,0,0,...,22,0,0,1,1,2,1,0,0,1
2,3,3,12,4,0,0,0,0,1,0,...,49,0,0,1,1,1,2,0,0,0
3,4,0,42,2,0,0,1,0,0,0,...,45,0,0,0,1,2,2,0,0,0
4,5,0,24,3,1,0,0,0,0,0,...,53,0,0,0,2,2,2,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,3,12,2,0,0,1,0,0,0,...,31,0,0,1,1,1,1,0,0,0
996,997,0,30,2,0,1,0,0,0,0,...,40,0,0,1,1,3,1,1,0,0
997,998,3,12,2,0,0,0,1,0,0,...,38,0,0,1,1,2,1,0,0,0
998,999,0,45,2,0,0,0,1,0,0,...,23,0,0,0,1,2,1,1,0,1
999,1000,1,45,4,0,1,0,0,0,0,...,27,0,0,1,1,2,1,0,0,0

In [4]:
 # Assign X (data) and y (target)
X = cc_df.drop("DEFAULT", axis=1)
y = cc_df["DEFAULT"]
print(X.shape, y.shape)

(1000, 31) (1000,)

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [6]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [7]:
classifier.fit(X_train, y_train)

C:\Users\caraa\Anaconda3\envs\PythonData\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [8]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.792
Testing Data Score: 0.76

In [38]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:20]}")
print(f"First 10 Actual labels: {y_test[:20].tolist()}")

First 10 Predictions:   [0 1 0 1 1 1 0 0 0 0 1 0 0 0 0 0 0 0 0 1]
First 10 Actual labels: [1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1]

In [36]:
#  Adjust dataFrame size to fit pediction default
new_df= cc_df.iloc[0:250]
new_df

,OBS#,CHK_ACCT,DURATION,HISTORY,NEW_CAR,USED_CAR,FURNITURE,RADIO/TV,EDUCATION,RETRAINING,...,AGE,OTHER_INSTALL,RENT,OWN_RES,NUM_CREDITS,JOB,NUM_DEPENDENTS,TELEPHONE,FOREIGN,DEFAULT
0,1,0,6,4,0,0,0,1,0,0,...,67,0,0,1,2,2,1,1,0,0
1,2,1,48,2,0,0,0,1,0,0,...,22,0,0,1,1,2,1,0,0,1
2,3,3,12,4,0,0,0,0,1,0,...,49,0,0,1,1,1,2,0,0,0
3,4,0,42,2,0,0,1,0,0,0,...,45,0,0,0,1,2,2,0,0,0
4,5,0,24,3,1,0,0,0,0,0,...,53,0,0,0,2,2,2,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,246,3,24,2,0,0,0,0,0,1,...,25,0,0,1,1,2,1,1,0,0
246,247,3,12,4,0,0,0,1,0,0,...,52,0,0,1,3,2,1,0,0,0
247,248,3,6,0,1,0,0,0,0,0,...,35,1,1,0,1,2,1,0,1,0
248,249,2,24,2,0,0,1,0,0,0,...,26,0,0,1,1,2,1,0,0,0
249,250,3,18,2,0,0,0,1,0,0,...,22,0,1,0,1,2,1,0,0,1

In [48]:
# added 'PREDICT DEFAULT' col
new_df['PREDICT DEFAULT']= predictions
new_df

C:\Users\caraa\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,OBS#,CHK_ACCT,DURATION,HISTORY,NEW_CAR,USED_CAR,FURNITURE,RADIO/TV,EDUCATION,RETRAINING,...,OTHER_INSTALL,RENT,OWN_RES,NUM_CREDITS,JOB,NUM_DEPENDENTS,TELEPHONE,FOREIGN,DEFAULT,PREDICT DEFAULT
0,1,0,6,4,0,0,0,1,0,0,...,0,0,1,2,2,1,1,0,0,0
1,2,1,48,2,0,0,0,1,0,0,...,0,0,1,1,2,1,0,0,1,1
2,3,3,12,4,0,0,0,0,1,0,...,0,0,1,1,1,2,0,0,0,0
3,4,0,42,2,0,0,1,0,0,0,...,0,0,0,1,2,2,0,0,0,1
4,5,0,24,3,1,0,0,0,0,0,...,0,0,0,2,2,2,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,246,3,24,2,0,0,0,0,0,1,...,0,0,1,1,2,1,1,0,0,0
246,247,3,12,4,0,0,0,1,0,0,...,0,0,1,3,2,1,0,0,0,1
247,248,3,6,0,1,0,0,0,0,0,...,1,1,0,1,2,1,0,1,0,0
248,249,2,24,2,0,0,1,0,0,0,...,0,0,1,1,2,1,0,0,0,0
249,250,3,18,2,0,0,0,1,0,0,...,0,1,0,1,2,1,0,0,1,0

In [50]:
## MAYBE SWITCH DEFAULT OUTCOME TO YES OR NO INSTEAD OF 0 or 1.
%matplotlib inline
df.plot("PREDICT DEFAULT","AGE")

KeyError: 'PREDICT DEFAULT'